[Desktop Entry]
Type=Application
Categories=System;Utility;Archiving;
Exec=ImageWriter %F
Icon=icon-iw
Name=Image Writer
Name[zh_CN]=镜像文件刻录器
Comment=Creating bootable installation USB disk
Comment[zh_CN]=创建可启动的USB安装介质
GenericName=USB image writer
GenericName[zh_CN]=USB镜像刻录器
Version=1.0 
